/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the SignIn and SignUp alerts background. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--bs-gray-200);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

/* styling for horizontal dividers on Landing */
hr.gradient {
  height: 3px;
  width: 10%;
  border: none;
  border-radius: 6px;
  background: linear-gradient(
      90deg,
      rgba(81,123, 190, 1) 0%,
      rgba(241, 114, 25, 1) 25%,
      rgba(126, 22, 84, 1) 75%,
      rgba(81, 72, 153, 1) 100%
  );
}